.panel-title {
  font-weight: bold;
  color: white;
}

.panel-body {
  padding: 0px;
}

.list-group {
  margin-bottom: 0px;
}

.list-group-item {
  font-size: 1.5em;
  padding: 0 0 10px 0;
}

a:visited {
  color: white;
}

a:hover {
  color: #ffd164;
}

.panel-heading {
  display: flex;
  justify-content: space-between;
}

.panel-heading .panel-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  height: 33px;
  line-height: 33px;
  min-width: 0;
  margin-right: 10px;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
}

.list-group-item .pin {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.penguin {
  height: 30px;
  margin-bottom: 10px;
  line-height: 33px;
}

.filter-input {
  display: flex;
  justify-content: flex-end;
}

.note-text-container {
  background-color: #f8f8f8;
  color: #3164b7;
  height: 50px;
}

.pin .btn {
  float: right;
  margin-right: 15px;
  margin-top: 8px;
}

.note-text {
  padding: 10px 10px 10px 10px;
}

.note-annotation {
  padding: 10px 10px 10px 30px;
  font-style: italic;
}

.annotation-input-container {
  margin-left: 15px;
  margin-top: 8px;
  margin-right: 15px;
}
